/* Add CSS Styling */
.rojo {
    background-color: rgb(230, 142, 171);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.roj {
    background-color: rgb(230, 142, 171);
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 24px;
}
#azul {
    color: #0000ff;
    font-size: 36px;
}
#col {
    background-color: hsl(84, 100%, 68%); 
    font-size: 24px;
    font-weight: bold;

}