body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  padding: 10px 10px 10px 10px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  font-size: 16px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background: #e3f4ff;
}

.content {
  padding: 10px;
  margin: 10px 0 10px 0;
  background: #e3f4ff;
}

/*.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 10px;
  margin: 10px 0 10px 0;
  
}

button {
  display: block;
  padding: 10px;
  margin: 0;
  background: white;
  border: 1px solid #eee;
  

}*/
.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px 0 0 0;
  text-align: center;
  
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background: white;
  border: 1px solid #eee;
}